@import '../main/Variables';

.friends-page {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: $clrPrimary5;
  position: relative;

  .sticky {
    display: flex;
    justify-content: space-between;
    background-color: $clrPrimary1;
    flex-grow: 1;
    position: sticky;
    top: 0;
  }

  .friends {
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    flex: 1;
    height: 100%;
    background-color: $clrPrimary5;

    .friend-requests {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      padding-block-end: 1.5em;
      border-block-end: 1px solid $clrPrimary10;

      .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-block: 1.25em;
        padding-inline: 1em;

        span {
          font-family: "Helvetica-Bold";
          font-size: 19px;
        }

        button {
          color: $clr1;
          background-color: transparent;
          border: 0;
          padding: 0;
        }
      }

      .friend-request-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(15em, 100%), 15em));
        gap: 0.5em;
        width: 100%;
        padding-inline: 1em;

        .friend-request {
          width: 100%;
          background-color: $clrPrimary1;
          border-radius: 0.375em;

          img {
            height: 15em;
            width: 15em;
            object-fit: cover;
            border-radius: 0.375em 0.375em 0 0;
          }

          .request-actions {
            display: flex;
            flex-direction: column;
            padding: 0.75em;
            width: 100%;

            span {
              margin-block-end: 2em;
              font-family: "Helvetica-Bold";
            }

            .request-buttons {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 0.375em;

              button {
                height: 2.25em;
                width: 100%;
                border: 0;
                border-radius: 0.375em;
              }

              .btn-confirm {
                color: $clrPrimary1;
                background-color: $clr1;

                &:hover {
                  background-color: $clr2;
                }
              }

              .btn-delete {
                color: $clrSecondary1;
                background-color: $clrPrimary7;

                &:hover {
                  background-color: $clrPrimary9;
                }
              }
            }
          }
        }
      }
    }
  }
}
