* {
  box-sizing: border-box;
}

html{
  height: fit-content;
  min-height: 100svh;
}

body{
  margin: 0;
  height: fit-content;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Helvetica';
}

.app{
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100vh;
}

ul{
  padding: 0;
  list-style: none;
}

button{
  &:hover{
    cursor: pointer;
  }
}
