//colors
$clrPrimary1: #ffffff;
$clrPrimary2: #f7f8fa;
$clrPrimary3: #f5e9e4;
$clrPrimary4: #f1f1f1;
$clrPrimary5: #f0f2f5;
$clrPrimary6: #ebecf0;
$clrPrimary7: #e4e6eb;
$clrPrimary8: #e1e3e6;
$clrPrimary9: #dadce1;
$clrPrimary10:#ced0d4;
$clrPrimary11: #bdc1c5;
$clrPrimary12: #bcbdc0;
$clrPrimary13: #a4a6aa;
$clrPrimary14: #65676b;

$clrSecondary1: #000000;
$clrSecondary2: #0000000a;
$clrSecondary3: #050505;
$clrSecondary4: #131211;
$clrSecondary5: #1d1f23;

$clr1: #0866ff;
$clr2: #005df4;
$clr3: #de5b00;
$clr4: #c55200;

.bread {
  color: $clrPrimary5;
}
