@import "../main/Variables";

.chat-display {
  display: flex;
  height: 100%;
  max-height: calc(100svh - 56px);
  flex: 1;
  background-color: $clrPrimary1;

  .theme-color {
    fill: #0084ff;
    stroke: #0084ff;
  }

  .theme-fill {
    fill: #0084ff;
  }

  .theme-stroke {
    stroke: #0084ff;
  }

  .chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    border-inline: 1px solid #e5e5e5;

    &.empty {
      justify-content: start;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75em 1em;
      box-shadow: 0 0 0.25em #00000033;

      &.empty {
        justify-content: start;
        gap: 1em;
        box-shadow: none;
        border-block-end: 1px solid $clrPrimary10;
        padding: 0.5em 0.75em;

        .selected-users{
          display: flex;
          gap: 0.5em;
          .selected-user{
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.625em;
            border-radius: 0.5em;
            font-size: 14px;
            font-family: "Helvetica-Bold";
            color: #0876ff;
            background-color: #ebf5ff;
          }
        }

        input {
          border: none;
          outline: none;
        }
      }

      .chat-title {
        display: flex;
        gap: 0.5em;

        img {
          width: 2.5em;
          height: 2.5em;
          border-radius: 50%;
          object-fit: cover;
        }

        .inner-detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          :nth-child(2n) {
            font-size: 12px;
            color: $clrPrimary14;
          }
        }
      }

      .header-actions {
        display: flex;
        align-items: center;
        gap: 1.5em;

        i {
          height: 1.25em;
          width: 1.25em;
        }

        div {
          height: 1.25em;
          width: 1.25em;
        }
      }
    }

    .displayed-users-model {
      width: 325px;
      height: 400px;
      overflow-y: auto;
      box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a,
        inset 0 0 0 1px #ffffff80;
      border-radius: 0 0 0.5em 0.5em;
      margin-inline-start: 3.75em;

      .displayed-users {
        display: flex;
        flex-direction: column;
        padding: 0.375em;

        .displayed-user {
          display: flex;
          align-items: center;
          gap: 1em;
          padding: 0.375em;
          border-radius: 0.5em;
          transition: all 0.5s 0s ease-in-out;

          &:hover {
            cursor: pointer;
            background-color: #f1f1f1;
          }

          img {
            width: 2.25em;
            height: 2.25em;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
    .messages {
      display: flex;
      flex-direction: column;
      gap: 1em;
      flex: 1;
      padding: 1em;
      overflow-y: scroll;
      overflow-x: hidden;

      .message {
        display: flex;
        align-items: end;
        gap: 0.5em;
        height: fit-content;

        .message-details {
          display: flex;
          flex-direction: column;
          gap: 0.375em;
          width: fit-content;

          .user-name {
            color: $clrPrimary14;
            padding-inline: 0.5em;
          }

          .message-txt {
            color: black;
            background-color: $clrPrimary5;
            padding: 0.5em;
            border-radius: 1em;
            overflow: hidden;
            width: fit-content;
            // max-width: calc(100% - 75px);
          }
        }

        &.yours {
          direction: rtl;

          .message-txt {
            background-color: $clr0;
            color: $clrPrimary1;
          }
        }

        img {
          height: 28px;
          width: 28px;
          border-radius: 50%;
          object-fit: cover;
        }

        .message-actions {
          display: flex;
          align-items: center;
          // align-self: center;
          margin-block-end: 0.75em;
          opacity: 0;
          flex: 1;
          min-width: 4.5em;
          gap: 0.75em;
          img {
            height: 1em;
            width: 1em;
          }
        }
      }
    }
    .input-section {
      display: flex;
      align-items: center;
      gap: 0.75em;
      padding: 0.75em 0.5em;
      .user-input {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 8px;
        background-color: $clrPrimary5;
        font-size: 16px;
        border-radius: 36px;
        input {
          width: 100%;
          height: 20px;
          border: 0;
          padding: 0;
          background-color: transparent;

          outline: none;
        }
      }

      i {
        height: 1.25em;
        width: 1.25em;
      }

      .focused {
        display: none;
      }
    }
  }
}
