@import "../main/Variables";

.app-header {
  position: sticky;
  top: 0;
  box-shadow: 0 1px 0px rgba(236, 236, 236, 0.5);
  background: $clrPrimary1;
  width: 100%;
  z-index: 100;

  .main-header {
    height: 3.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .login-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      padding: 1em;

      .logo {
        font-size: 30px;
        font-family: "Helvetica-Bold";
        color: #0866ff;
        cursor: default;
      }

      .login-header-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;

        input {
          width: 100%;
          font-size: 16px;
          padding: 0.5em;
          border: 1px solid #dddfe2;
          border-radius: 0.5em;
          outline-color: #0866ff;
          font-family: "Helvetica-Bold";
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          width: fit-content;
          padding: 0.5em;
          border: none;
          border-radius: 0.5em;
          background-color: #0866ff;
          color: #ffffff;
          font-family: "Helvetica-Bold";
          white-space: nowrap;
  
          &:hover {
            cursor: pointer;
            background-color: #005df4;
          }
        }

        :nth-child(4n) {
          font-size: 16px;
          width: fit-content;
          text-align: center;
          color: #0866ff;
          white-space: nowrap;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  img {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    object-fit: cover;
  }

  .header-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    max-width: 22.5em;
    padding-inline-end: 1em;
    gap: 0.5em;
    padding: 0.125em 1em;

    a {
      height: 2.5em;
      width: 2.5em;
    }

    .full-search {
      display: flex;
      align-items: center;
      background-color: $clrPrimary5;
      border-radius: 3.125em;
      height: 2.5em;
      max-width: 15em;

      i {
        height: 20px;
        width: 20px;
        margin-inline-start: 12px;
        margin-block-start: 4px;
      }

      .search {
        height: 2.5em;
        flex: 1;
        border-radius: 3.125em;
        background-color: $clrPrimary5;
        border: 0;
        max-width: 212px;
        padding: 8px;
        ::placeholder {
          color: $clrPrimary13;
        }
      }
    }
  }

  .header-middle {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5em;
    max-width: 42.5em;
    padding-block-end: 3px;
    flex-grow: 1;
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 100%;
      &:not(.active-link):hover {
        background-color: $clrPrimary5;
        border-radius: 0.5em;
      }
      &.active-link {
        box-shadow: 0 3px $clr1;
      }
    }
  }

  .header-right {
    display: flex;
    justify-content: end;
    padding: 0.5em 1em;
    padding-inline-start: 0;
    gap: 0.5em;
    max-width: 22.5em;
    flex-grow: 1;
    a {
      height: 2.5em;
    }
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
      a {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        i {
          height: 1.25em;
          width: 1.25em;
        }
      }
    }
  }

  .navbar {
    display: none;
  }
}

@media (min-width: 1250px) {
  .header-left {
    .full-search {
      flex: 1;
    }
  }
}

@media (max-width: 1250px) {
  .header-left {
    .full-search {
      flex: 0;
      i {
        margin-inline: 12px;
      }
      .search {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .app-header {
    flex-direction: column;
    height: fit-content;
    .main-header {
      height: 3.5em;
      .header-middle {
        display: none;
      }
    }
    .navbar {
      display: block;
      width: 100%;
      height: 3.5em;
      .header-middle {
        display: flex;
      }
    }
  }
}
