@import '../main/Variables';

.post-preview {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: $clrPrimary1;
    margin-block-end: 1em;
    border-radius: 0.5em;

    &.display{
        margin: 0;
        border-radius: 0;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75em 1em;
        padding-block-end: 0;

        &>* {
            display: flex;
        }

        img {
            height: 2.5em;
            width: 2.5em;
            border-radius: 50%;
            object-fit: cover;
        }

        .post-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-inline-start: 0.5em;

            :nth-child(even) {
                font-size: 12px;
            }
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.25em;
            width: 2.25em;
            padding: 0.5em;
            border-radius: 50%;

            svg {
                &:hover {
                    background-color: #0000000a;
                    border-radius: 0.5em;
                }
            }
        }

    }

    .description {
        padding: 1em;
        padding-block-start: 1em;
    }

    .post-media {
        display: grid;
        max-width: 680px;
        max-height: 600px;
        height: 100svh;
        overflow-y: hidden;
        gap: 0.25em;

        .media-container{
            display: flex;
            align-items: center;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            video{
                height: 100%;
                width: auto;
                overflow: hidden;
                object-fit: cover;
            }
        }

        &.zero{
            display: none;
        }

        &.one{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .media-container{
                height: 600px;
            }
        }

        &.two{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            .media-container{
                height: 600px;
            }
        }

        &.three{
            grid-template: 
            'one two'
            'three three';

            .media-container{
                height: 300px;
            }

            .first-media{
                grid-area: one;
            }

            .second-media{
                grid-area: two;
            }

            .third-media{
                grid-area: three;
            }
        }

        &:not(.zero):not(.one):not(.two):not(.three){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .media-container{
                height: 300px;
            }
        }

    }

    .post-interacted {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1em;
        height: 3em;
        color: $clrPrimary14;
        border-block-end: 0.75px solid $clrPrimary10;
        
        .like-count {
            display: flex;
            align-items: center;
            gap: -0.25em;
            
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.25em;
                width: 2.25em;
                padding: 0.5em;
                border-radius: 50%;
                
                svg {
                    &:hover {
                        background-color: $clrSecondary1;
                        border-radius: 0.5em;
                    }
                }
            }
        }
        
        .viewers-interactions {
            display: flex;
            gap: 0.75em;
            a{
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
        }
    }

    .post-interactions{
        display: flex;
        align-items: center;
        height: 2.75em;
        margin: 0.375em 1em;
        color: $clrPrimary14;
        
        &.display{
            border-block-end: 0.75px solid $clrPrimary10;
        }

        .interaction{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: calc(100% / 3);
            gap: 0.5em;
            padding-block: 0.375em;
            border-radius: 0.25em;
            .like{
                height: 1.25em;
                width: 1.25em;
            }
            i{
                height: 1.25em;
                width: 1.25em;
            }

            &:hover {
                cursor: pointer;
                background-color: $clrPrimary5;
            }
        }
    }
}