.post-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100svw;
    height: 100svh;
}

.post-display {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5em);
    width: 100%;
    max-width: 700px;
    margin: auto;
    z-index: 200;
    background-color: white;

    div{
        max-width: 700px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1em;
        max-height: 60px;
        font-size: 20px;
        border-block-end: 1px solid #ced0d4;
        border-radius: 0.5em 0.5em 0 0;
        box-shadow: 1px 1px 5px 1px #ced0d4;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3em;
            width: 3em;

            &.x {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1.8em;
                width: 1.8em;
                border-radius: 50%;
                background-color: #e4e6eb;

                &:hover {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #dadce1;
                }
            }
        }

        i {
            display: block;
            width: 1em;
            height: 1em;
        }
    }

    .post-container {
        position: relative;
        flex: 1;
        max-height: 680px;
        overflow-y: scroll;
    }

    .comment-addition {
        position: relative;
        display: flex;
        padding: 1.25em;
        gap: 0.375em;

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            object-fit: cover;
        }

        .comment {
            display: flex;
            flex-direction: column;
            height: 5em;
            flex: 1;
            padding: 0.75em;
            border: 0;
            border-radius: 1em;
            background-color: #f0f2f5;

            input {
                background-color: transparent;
                margin-block-end: 1em;
                border: 0;

                &:focus {
                    outline: none;
                }
            }

            .comment-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;

                img {
                    height: 1em;
                    width: 1em;
                }
            }
        }
    }
}

.blur {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    background-color: white;
    z-index: 200;
}