.post-addition {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100svh;
  width: 100svw;
  z-index: 300;

  .user-showcase {
    img {
      height: 2.375em;
      width: 2.375em;
    }
  }

  .addition-model {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    max-height: 40em;
    background-color: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a,
      inset 0 0 0 1px #ffffff80;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3.75em;
      width: 100%;
      border-block-end: 1px solid #e5e5e5;
      font-family: "Helvetica-Bold";

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.75em;
        width: 3.75em;

        &.x-right {
          align-items: center;
          justify-content: center;
          height: 2.25em;
          width: 2.25em;
          border-radius: 50%;
          background-color: #e4e6eb;

          &:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dadce1;
          }
        }

        i {
          height: 1.25em;
          width: 1.25em;
        }
      }
      .btn-add-post-header {
        display: none;
      }
    }

    .post {
      display: flex;
      flex-direction: column;
      padding: 1em;
      // gap: 1em;

      .user-showcase {
        display: flex;
        height: 2.5em;
        gap: 0.75em;

        img {
          height: 2.5em;
          width: 2.5em;
          border-radius: 50%;
          object-fit: cover;
        }

        .inner {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .user-input {
        display: flex;
        flex-direction: column;
        max-height: 20em;
        min-height: 120px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-block-start: 16px;

        .post-txt {
          width: 100%;
          border: 0;
          font-size: 24px;
          outline: none;
          resize: none;
        }

        .media-interactions {
          width: 100%;
          border: 1px solid #ced0d4;
          border-radius: 0.5em;
          .media-container {
            position: relative;
            margin: 0.5em;

            .photo-container {
              position: relative;
              height: 300px;
              width: 100%;
              text-align: center;
              .emote-container {
                position: relative;
                left: calc(100% - 39px);
                top: calc(12px - 100%);
                padding: 0;
                height: 27px;
                width: 27px;
                .cancel-img {
                  i {
                    display: block;
                    height: 1.25em;
                    width: 1.25em;
                  }
                }
              }
              img {
                height: 100%;
                width: 100%;
              }
            }

            .add-media-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 225px;
              background-color: #f7f8fa;
              border-radius: 0.5em;
              gap: 0.5em;
              background-size: cover;
              background-position: center;

              &:hover {
                cursor: pointer;
                background-color: #ebecf0;
              }

              div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.5em;
                width: 2.5em;
                background-color: #e4e6eb;
                border-radius: 50%;
              }

              :nth-child(2n) {
                font-family: "Helvetica-Bold";
              }

              :nth-child(3n) {
                font-size: 12px;
                color: #bcbdc0;
              }
            }

            .add-media-mini-container {
              display: flex;
              align-items: center;
              height: fit-content;
              width: fit-content;
              padding: 0.5em;
              border-radius: 0.5em;
              gap: 0.5em;
              background-color: #f7f8fa;
              background-size: cover;
              background-position: center;
              position: absolute;
              top: 0.75em;
              left: 0.75em;

              &:hover {
                cursor: pointer;
                background-color: #ebecf0;
              }

              div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.5em;
                width: 2.5em;
                background-color: #e4e6eb;
                border-radius: 50%;
              }

              :nth-child(2n) {
                font-family: "Helvetica-Bold";
              }

              :nth-child(3n) {
                font-size: 12px;
                color: #bcbdc0;
              }
            }

            .new-video-here {
              width: 100%;
              height: 225px;
              background-size: cover;
              background-position: center;
            }

            .new-image-here {
              width: 100%;
              height: 225px;
              background-size: cover;
              background-position: center;
            }

            .add-file-input {
              display: none;
            }
          }
        }
      }

      .post-effects {
        display: flex;
        justify-content: space-between;
        height: 2.5em;
        align-items: center;
        margin-block-start: 1.25em;
      }

      .document-addition {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.75em;
        padding: 1em;
        margin-block-start: 1em;
        border: 1px solid #ced0d4;
        border-radius: 0.5em;
        font-family: "Helvetica-Bold";
        box-shadow: 0 1px 2px #0000001a;

        .additions {
          display: flex;
          align-items: center;
          gap: 1em;
        }
      }

      .btn-add-post {
        height: 36px;
        margin-block-start: 1em;
        background-color: #e4e6eb;
        color: #bdc1c5;
        border: 0;
        border-radius: 0.5em;
        transition: all 1s 0s;

        &:hover {
          cursor: not-allowed;
        }

        &.allowed {
          cursor: default;
          color: #ffffff;
          background-color: #0866ff;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .post-addition {
    align-items: center;
    .addition-model {
      .header {
        .x-left {
          display: none;
        }

        .x-right {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .post-addition {
    .addition-model {
      max-width: 100%;
      .header {
        .btn-add-post-header {
          display: block;
          background-color: #e4e6eb;
          color: #bdc1c5;
          padding: 0.75em;
          border: 0;
          border-radius: 0.5em;
          transition: all 1s 0s;

          &:hover {
            cursor: not-allowed;
          }

          &.allowed {
            cursor: default;
            color: #ffffff;
            background-color: #0866ff;
          }
        }

        .x-right {
          display: none;
        }

        .x-left {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2.25em;
          width: 2.25em;
          border-radius: 50%;
          background-color: #e4e6eb;

          &:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dadce1;
          }
        }
      }

      .post {
        height: 100%;

        .post-add-container {
          flex: 1;

          .post-txt {
            height: 100%;
            margin-block-end: 0;
          }
        }

        .btn-add-post {
          display: none;
        }
      }
    }
  }
}
