@import '../../main/Variables';

.side-navbar {
  position: sticky;
  top: 3.5em;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 22.5em;
  background-color: $clrPrimary1;
  padding: 1em;
  height: calc(100svh - 56px);

  .user-options {
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block-end: 1.5em;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $clrPrimary7;
        border-radius: 50%;
        height: 2.25em;
        width: 2.25em;

        i {
          height: 1.25em;
          width: 1.25m;
        }

        &:hover {
          cursor: pointer;
          background-color: $clrPrimary9;
        }
      }

      span {
        font-family: "Helvetica-Bold";
        font-size: 23px;
      }
    }

    .options {
      display: flex;
      flex-direction: column;
      height: fit-content;

      .friend-option {
        &.main {
          a {
            div {
              background-color: $clr1;
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          gap: 0.75em;
          text-decoration: none;
          color: $clrSecondary1;
          padding-block: 0.5em;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.25em;
            width: 2.25em;
            background-color: $clrSecondary1;
            border-radius: 50%;

          }
          img{
            width: 1.25em;
            height: 1.25em;
          }
          section{
            display: flex;
            flex-direction: column;
            gap: 0.25em;
            margin-inline-start: 1em;
            span{
              text-transform: capitalize;
            }
            :nth-child(1){
              color: #65676B;
            }
            :nth-child(2){
              font-family: "Helvetica-Bold";
              font-size: 1.25em;
            }
          }
        }
      }

      .request {
        a {
          display: flex;
          width: 100%;
          color: $clrSecondary1;
          background-color: $clrPrimary1;
          border-radius: 0.375em;
          padding: 0.5em 0;
          text-decoration: none;

          img {
            height: 3.75em;
            width: 3.75em;
            object-fit: cover;
            border-radius: 50%;
          }

          .request-actions {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            padding: 0 0.75em;

            span {
              font-family: "Helvetica-Bold";
            }

            .request-buttons {
              display: flex;
              width: 100%;
              gap: 0.375em;

              button {
                height: 2.25em;
                width: 100%;
                border: 0;
                border-radius: 0.375em;
              }

              .btn-confirm {
                color: $clrPrimary1;
                background-color: $clr1;

                &:hover {
                  background-color: $clr2;
                }
              }

              .btn-delete {
                color: $clrSecondary1;
                background-color: $clrPrimary7;

                &:hover {
                  background-color: $clrPrimary9;
                }
              }
            }
          }
        }
      }

      .friend {
        a {
          display: flex;
          width: 100%;
          color: $clrSecondary1;
          background-color: $clrPrimary1;
          border-radius: 0.375em;
          padding: 0.5em 0;
          text-decoration: none;

          img {
            height: 3.75em;
            width: 3.75em;
            object-fit: cover;
            border-radius: 50%;
          }

          .friend-actions {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            padding: 0 0.75em;

            span {
              font-family: "Helvetica-Bold";
            }
          }
        }
      }
    }
  }
}
